---
###
# Check https://github.com/ray-rock/containarr/wiki for more information/documentation. If you run into an issue
# not covered in the comments or documents, please open a discussion or an issue at https://github.com/ray-rock/containarr
###
version: "3.8"

services:
  ###
  # This is the VPN provider. Anything routed through this will be tunneled through your VPN.
  # https://github.com/qdm12/gluetun
  ###
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    env_file:
      - config/vpn-config.env # See https://github.com/qdm12/gluetun/wiki for info on configuring your vpn.
    ports:
      # - 80:80                           # nginx reverse proxy
      # - 443:443                          # portal ssl
      - 8000:8000 # Remote Control VPN
      - 8888:8888 # Tinyproxy
      - 9091:9091 # Transmission
      - 51413:51413 # Transmission
      - 51413:51413/udp # Transmission
      # - 6595:6595 # deemix
      - 8989:8989 # sonarr
      - 7878:7878 # radarr
      - 9696:9696 # prowlarr
      - 8787:8787 # readarr
      - 8191:8191 # flaresolverr
      - 6789:6789 # nzbget
      - 8686:8686 # lidarr
      - 5076:5076 # hydra
      - 8080:8081 # sabnzb
    environment:
      - PUID=1000
      - PGID=1000
      - FIREWALL_OUTBOUND_SUBNETS=192.168.1.0/24
      - HTTPPROXY=on
    dns:
      - 209.222.18.222 # Default to PIA DNS servers
      - 209.222.18.218
    restart: always

  ### DIRECTORY ###
  heimdall:
    image: lscr.io/linuxserver/heimdall:latest
    container_name: heimdall
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=US/Pacific
    volumes:
      - ./config/heimdall:/config
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped

  ### DOWNLOADERS ###
  transmission:
    image: linuxserver/transmission
    container_name: transmission
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ./config/transmission:/config
      - /Media:/data
    network_mode: "service:gluetun"
    depends_on:
      - gluetun
    restart: unless-stopped

  # ! Deprecated!
  nzbget:
    image: lscr.io/linuxserver/nzbget:latest
    container_name: nzbget
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=US/Pacific
      # - NZBGET_USER=nzbget #optional
      # - NZBGET_PASS=tegbzn6789 #optional
    volumes:
      - ./config/nzbget:/config
      - /Media:/data
    restart: unless-stopped

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=US/Pacific
    volumes:
      # - /path/to/downloads:/downloads #optional
      # - /path/to/incomplete/downloads:/incomplete-downloads #optional
      - ./config/sabnzb:/config
      - /Media:/data
    restart: unless-stopped

  # nzbhydra2:
  #   image: lscr.io/linuxserver/nzbhydra2:latest
  #   container_name: nzbhydra2
  #   network_mode: "service:gluetun"
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=US/Pacific
  #   volumes:
  #     - ./config/hydra2:/config
  #     - /Media/Usenet:/downloads
  #   restart: unless-stopped

  ### ARRRRRRRRR ###
  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK_SET=022
    volumes:
      - ./config/sonarr:/config
      - /Media:/data
      # - /Media/Torrent:/downloads/complete
      # - /Media/NZBs/completed/Series:/downloads/completed
      # - /Media:/media
    depends_on:
      - transmission
    restart: unless-stopped

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK_SET=022
    volumes:
      - ./config/radarr:/config
      - /Media:/data
      # - /Media/Torrent:/downloads/complete
      # - /Media/NZBs/completed/Movies:/downloads/completed
      # - /Media:/media
    depends_on:
      - transmission
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=US/Pacific
    volumes:
      - ./config/lidarr:/config
      - /Media:/data
    network_mode: "service:gluetun"
    restart: unless-stopped

  ###
  #   Prowlarr: collect and organize movies. Uses linuxserver docker-prowlarr image.
  #   https://github.com/Prowlarr/Prowlarr
  #   https://hub.docker.com/r/linuxserver/prowlarr
  #   https://github.com/linuxserver/docker-prowlarr
  ###
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=022
      - UMASK_SET=022
    volumes:
      - ./config/prowlarr:/config
    network_mode: "service:gluetun"
    depends_on:
      - gluetun
    restart: unless-stopped

  ### MISC ###
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
    network_mode: "service:gluetun"
    restart: unless-stopped
